<nav class="navbar navbar-default" style="border-radius: 0px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">MEAN</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <!-- Navbar-right -->
      <ul class="nav navbar-nav navbar-right">
              <!-- LOGGED IN -->
      	<!-- Profile -->
        <li 
          *ngIf="authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['profile']">Profile</a>
        </li>
        <!-- Dashboard -->
        <li
          *ngIf="authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <!-- Logout -->
        <li *ngIf="authService.loggedIn()">
          <a href="#" (click)="onLogoutClick()">Logout</a>
        </li>

              <!-- NOT LOGGED IN -->
        <!-- Login -->
        <li
          *ngIf="!authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions] = "{exact: true}">
        	<a [routerLink]="['login']">Login</a>
        </li>
        <!-- Register -->
        <li
          *ngIf="!authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions] = "{exact: true}">
        	<a [routerLink]="['register']">Register</a>
        </li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>